*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body,.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
body{
    min-height: 100vh;
    background-color: plum;
}

.clock{
    position: relative;
    color: white;
    font-size: 8rem;
    font-weight: lighter;
    background-color: black;
    border-radius: 12px;
    padding: 32px; 
}


.hours{
    color:aquamarine ;

}
.dots1{
    color: blue;
    animation: blinker 2s linear infinite;
}
.minutes{
    color:aquamarine ;
}
.dots2{
    color: blue;
    animation: blinker 2s linear infinite;
}
.seconds{
    color:aquamarine ;
}
.periods{
    margin-left: 32px;
    color: skyblue;
}
